<div class="container-fl">
    <div class="grid-1">
        <div class="menus">
            <div class="logo">
                <img src="assets/images/blue-pixel-long.png" alt="logo">

            </div>
            <div class="hr"></div><br>
            <div class="menu-lists">
                <div id="active-list-1" class="active-list-1 menu-list" (click)="setActive(1)">
                    <span id="list-1"> Invoice </span>
                </div>
                <div id="active-list-2" class="active-list-2 menu-list" (click)="setActive(2)">
                    <span id="list-2"> Pricing </span>
                </div>
                <div id="active-list-3" class="active-list-3 menu-list" (click)="setActive(3)">
                    <span id="list-3"> History </span>
                </div>



            </div>

        </div>
    </div>
    <div class="grid-2">
        <div class="section-1">
            <div class="big-cards">
                <div>
                    <div (click)="addList(17)" class="card1 card">
                        <p class="card-text">{{services.items[17].name}}</p>
                        <h2 class="card-title"><b> Rs.{{services.items[17].price}}</b></h2>
                        <a style="color: white;" class="btn ">Choose
                            <input style="display: none;" type="radio" name="radio18" id="input17">
                        </a>

                    </div>
                </div>
                <div>
                    <div (click)="addList(18)" class="card2 card">
                        <p class="card-text"><span><img width="30px" height="30px" src="assets/images/f8003b28-7a3e-4d6f-ba9c-6c14124302e0.svg" alt=""></span><span>{{services.items[18].name}}</span></p>
                        <h2 class="card-title"><b>Rs.{{services.items[18].price}}</b></h2>
                        <a class="btn ">Choose
                            <input style="display: none;" type="radio" name="radio19" id="input18">
                        </a>


                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="items-list">
                <div (click)="addList(0)" class="card">
                    <div>{{services.items[0].name}}</div>
                    <div>Rs.{{services.items[0].price}}</div>
                    <div><input type="radio" name="radio1" id="input0"></div>
                </div>
                <div (click)="addList(1)" class="card">
                    <div>{{services.items[1].name}}</div>
                    <div>Rs.{{services.items[1].price}}</div>
                    <div><input type="radio" name="radio2" id="input1"></div>

                </div>
                <div (click)="addList(2)" class="card">
                    <div>{{services.items[2].name}}</div>
                    <div>Rs.{{services.items[2].price}}</div>
                    <div><input type="radio" name="radio3" id="input2"></div>

                </div>
                <div (click)="addList(3)" class="card">
                    <div>{{services.items[3].name}}</div>
                    <div>Rs.{{services.items[3].price}}</div>
                    <div><input type="radio" name="radio4" id="input3"></div>

                </div>
                <div (click)="addList(4)" class="card">
                    <div>{{services.items[4].name}}</div>
                    <div>Rs.{{services.items[4].price}}</div>
                    <div><input type="radio" name="radio5" id="input4"></div>

                </div>
                <div (click)="addList(5)" class="card">
                    <div>{{services.items[5].name}}</div>
                    <div>Rs.{{services.items[5].price}}</div>
                    <div><input type="radio" name="radio6" id="input5"></div>

                </div>
                <div (click)="addList(6)" class="card">
                    <div>{{services.items[6].name}}</div>
                    <div>Rs.{{services.items[6].price}}</div>
                    <div><input type="radio" name="radio7" id="input6"></div>

                </div>
                <div (click)="addList(7)" class="card">
                    <div>{{services.items[7].name}}</div>
                    <div>Rs.{{services.items[7].price}}</div>
                    <div><input type="radio" name="radio8" id="input7"></div>

                </div>
                <div (click)="addList(8)" class="card">
                    <div>{{services.items[8].name}}</div>
                    <div>Rs.{{services.items[8].price}}</div>
                    <div><input type="radio" name="radio9" id="input8"></div>

                </div>
                <div (click)="addList(9)" class="card">
                    <div>{{services.items[9].name}}</div>
                    <div>Rs.{{services.items[9].price}}</div>
                    <div><input type="radio" name="radio10" id="input9"></div>

                </div>
                <div (click)="addList(10)" class="card">
                    <div>{{services.items[10].name}}</div>
                    <div>Rs.{{services.items[10].price}}</div>
                    <div><input type="radio" name="radio11" id="input10"></div>

                </div>
                <div (click)="addList(11)" class="card">
                    <div>{{services.items[11].name}}</div>
                    <div>Rs.{{services.items[11].price}}</div>
                    <div><input type="radio" name="radio12" id="input11"></div>

                </div>
                <div (click)="addList(12)" class="card">
                    <div>{{services.items[12].name}}</div>
                    <div>Rs.{{services.items[12].price}}</div>
                    <div><input type="radio" name="radio13" id="input12"></div>

                </div>
                <div (click)="addList(13)" class="card">
                    <div>{{services.items[13].name}}</div>
                    <div>Rs.{{services.items[13].price}}</div>
                    <div><input type="radio" name="radio14" id="input13"></div>

                </div>
                <div (click)="addList(14)" class="card">
                    <div>{{services.items[14].name}}</div>
                    <div>Rs.{{services.items[14].price}}</div>
                    <div><input type="radio" name="radio15" id="input14"></div>

                </div>
                <div (click)="addList(15)" class="card">
                    <div>{{services.items[15].name}}</div>
                    <div>Rs.{{services.items[15].price}}</div>
                    <div><input type="radio" name="radio16" id="input15"></div>

                </div>
                <div (click)="addList(16)" class="card">
                    <div>{{services.items[16].name}}</div>
                    <div>Rs.{{services.items[16].price}}</div>
                    <div><input type="radio" name="radio17" id="input16"></div>

                </div>


            </div>
        </div>
    </div>
    <div class="grid-3">

        <div class="payment">
            <h5><b>Payment Options</b></h5>
            <div class="payment-options">

                <div *ngIf="paymentmd > 1 || paymentmd===0" (click)="paymentOptn(1)"><img class="coin" src="assets/images/IMGBIN_gold-coin-icon-png_ADFzYv8U.png" alt=""></div>
                <div *ngIf="paymentmd===1" (click)="paymentOptn(1)"><img class="active-payment coin" src="assets/images/IMGBIN_gold-coin-icon-png_ADFzYv8U.png" alt=""></div>
                <div *ngIf="paymentmd < 2 || paymentmd===0" (click)="paymentOptn(2)"><img src="assets/images/—Pngtree—credit card isolated on white_5325695.png" alt=""></div>
                <div *ngIf="paymentmd===2" (click)="paymentOptn(2)"><img class="active-payment" src="assets/images/—Pngtree—credit card isolated on white_5325695.png" alt=""></div>


                <!-- <div *ngIf="paymentmd==0 || paymentmd==2" (click)="paymentOptn(1)"><img src="assets/images/IMGBIN_gold-coin-icon-png_ADFzYv8U.png" alt=""></div>
                <div *ngIf="paymentmd==0 || paymentmd==1" (click)="paymentOptn(2)"><img src="assets/images/—Pngtree—credit card isolated on white_5325695.png" alt=""></div>
                <div *ngIf="paymentmd==1 " (click)="paymentOptn(1)"><img class="active-payment" src="assets/images/IMGBIN_gold-coin-icon-png_ADFzYv8U.png" alt=""></div>
                <div *ngIf="paymentmd==2" (click)="paymentOptn(2)"><img class="active-payment" src="assets/images/—Pngtree—credit card isolated on white_5325695.png" alt=""></div> -->
            </div>
        </div>
        <div class="billing">
            <h5><b>Billing Summary</b></h5>
            <div class="billing-items">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="font-weight: 300;">Service</th>
                            <th style="font-weight: 300;">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedItems; let index=i">
                            <td>
                                {{item.name}}:
                            </td>
                            <td style="font-weight: 500;">
                                {{item.price}}

                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th style="font-weight: 300;">Total</th>
                            <th style="font-weight: 900; color: #6582F9;">{{total}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="button">
            <button (click)="generatePDF('download')" class="btn btn-primary btn-lg">PDF</button>
            <button (click)="generatePDF('print')" class="btn btn-success btn-lg">Print</button>
        </div>

    </div>
</div>